.footer-container {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    width: 85%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-section {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }

    @media(max-width: 375px){
        width: 100%;
        padding: 0px;
    }
}

.social-links-container,
.app-download-container {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 25px 25px;
    background-color: #121212;
    width: 48%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 100%;
        min-height: 125px; 
    }
}

.social-links-container {
    align-items: center;
    justify-content: center;
}

.app-download-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    color: #ccc;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
        color: #fff;
        transition: color 0.2s;

        &:hover {
            color: #f5c518;
        }
    }
}

.qr-code {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
    }
}

.links-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.main-links,
.secondary-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px 0;

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
        font-size: 14px;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
            color: #f5c518;
        }
    }

    @media (max-width: 480px) {
        gap: 5px;

        a {
            padding: 5px;
            font-size: 12px;
        }
    }
}

.link-with-icon {
    display: flex;
    align-items: center;

    .external-icon {
        font-size: 14px;
        margin-left: 3px;
    }
}

.your-ads-choice {
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
        margin-right: 3px;
    }
}

.company-info {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    color: #ccc;
    font-size: 12px;
}

@media (max-width: 600px) {
    .main-links,
    .secondary-links {
        padding: 0 15px;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .social-icons {
        gap: 15px;
    }

    .main-links,
    .secondary-links {
        a {
            padding: 3px;
            font-size: 11px;
        }
    }

    .main-links,
    .secondary-links:hover{
        color: #f5c518;
    }
}